<div class="form-container">

  <div class="portada">
    <button type="button" (click)="coverInput.click()" style="margin-bottom: 2em;" class="addCover">
      <span>🖼️ Añadir portada</span>
      <input #coverInput type="file" accept="image/*" (change)="onCoverSelected($event)" style="display:none;" />
    </button>

    <div *ngIf="coverImagePreview" class="coverName">
      <img [src]="coverImagePreview" width="50px" height="30px" alt="foto" style=" margin-left: 5px;">
    </div>
  </div>


  <h2>Crear noticia</h2>
  <form (ngSubmit)="addPublication()">
    <div class="form-group">
      <input type="text" id="titulo" name="titulo" placeholder="Escribe un título atractivo..."
        [(ngModel)]='request.title'>
    </div>

    <!--EDITOR PARA PONER NEGRITAS,DELINEADO,ENLACE...-->
    <div class="form-group">

      <!--TOGGLE BAR-->
      <div class="toolbar">
        <button type="button" class="text-button" [class.active]="isBoldActive" (click)="toggleBold()">B</button>

        <button type="button" class="text-button" [class.active]="isUnderlineActive" (click)="toggleUnderline()"
          style="text-decoration: underline;">U</button>

        <button type="button" class="text-button" (click)="addLink()" style="font-size: small;">🔗</button>

      </div>
      <!--EDITOR PARA CONTENIDO-->
      <div #editor contenteditable="true" class="editor" (input)="onInput()" (keyup)="updateTextStates()"
        (paste)="onPaste($event)" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
        (mouseup)="updateTextStates()">
      </div>
      <!--FIN TOGGLE BAR-->


    </div>
    <!--FIN DE EDITOR-->

    <div class="buttons">
      <button type="submit" class="btn-submit">Publicar</button>
      <div class="image-list">
        <button type="button" (click)="listInput.click()" style="margin-bottom: 2em;" class="addImages">
          <span>📸 Añadir imágenes</span>
          <input #listInput type="file" accept="image/*" (change)="onBodyImagesSelected($event)" style="display:none;"
            multiple />
        </button>
      </div>
    </div>

    <div *ngIf="previewImagesToAdd?.length" class="imagesContainer">
      <div class="addImagen" *ngFor="let url of previewImagesToAdd"><img [src]="url" alt="pic" width="50px"
          height="30px" (click)="confirmImageDelete(url,true)"></div>
    </div>

  </form>
</div>