<section class="articles" *ngIf="!loading && !isEmpty">
    <article *ngFor="let publicacion of publicaciones">
        <div class="articleImageHolder">
            <img [src]="'http://localhost:8080' + publicacion.coverImageUrl" alt="cover">
        </div>
        <h2 class="news-title">{{publicacion.title}}</h2>
        <div class="options">
            <span>
                Leer más
            </span>
        </div>
    </article>
</section>

<div class="vacio" *ngIf="!loading && isEmpty">
    <img src="assets/images/emptyNews.png" alt="vacio">
</div>

<div class="spin-container">
    <div class="spinner" *ngIf="loading"></div>
</div>