<div class="form-container">

  <div class="portada">
    <button type="button" (click)="coverInput.click()" style="margin-bottom: 2em;" class="addCover">
      <span>🖼️ Cambiar portada</span>
      <input #coverInput type="file" accept="image/*" (change)="onCoverSelected($event)" style="display:none;" />
    </button>

    <div *ngIf="selectedCoverName" class="coverName">
      {{ selectedCoverName }}
    </div>
  </div>


  <h2>Editar noticia</h2>
  <form (ngSubmit)="editPublication()">
    <div class="form-group">
      <input type="text" id="titulo" name="titulo" placeholder="Escribe un título atractivo..."
        [(ngModel)]='response.title'>
    </div>

    <!--EDITOR PARA PONER NEGRITAS,DELINEADO,ENLACE...-->
    <div class="form-group">

      <!--TOGGLE BAR-->
      <div class="toolbar">
        <button type="button" class="text-button" [class.active]="isBoldActive" (click)="toggleBold()">B</button>

        <button type="button" class="text-button" [class.active]="isUnderlineActive" (click)="toggleUnderline()"
          style="text-decoration: underline;">U</button>

        <button type="button" class="text-button" (click)="addLink()" style="font-size: small;">🔗</button>

      </div>
      <!--EDITOR PARA CONTENIDO-->
      <div #editor contenteditable="true" class="editor" (input)="onInput()" (keyup)="updateTextStates()"
        (paste)="onPaste($event)" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
        (mouseup)="updateTextStates()">
      </div>
      <!--FIN TOGGLE BAR-->


    </div>
    <!--FIN DE EDITOR-->

    <div class="buttons">
      <button type="submit" class="btn-submit">Actualizar</button>
      <div class="image-list">
        <button type="button" (click)="listInput.click()" style="margin-bottom: 2em;" class="addImages">
          <span>📸 Añadir imágenes</span>
          <input #listInput type="file" accept="image/*" (change)="onBodyImagesSelected($event)" style="display:none;"
            multiple />
        </button>
      </div>
    </div>

    <div *ngIf="bodyImages?.length" class="imagesName">
  <div *ngFor="let img of newBodyImagesUrls" class="pene">
    <img [src]="img" alt="nueva imagen" width="30px">
  </div>
    </div>

    <div class="currentImgs" *ngFor="let url of response.bodyImagesUrl">
      <img [src]="'http://localhost:8080' + url"  alt="img" width="30px">
    </div>

  </form>
</div>