<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <h3>I.E.S. ALCARIA</h3> <br>
            <p>C/ Pozo Concejo s/n</p> <br>
            <p>41130. La Puebla del Río (Sevilla)</p> <br>
            <p>41700348.edu&#64;juntadeandalucia.es</p> <br>
            <p>Horario de secretaría: 11:30 a 13:30 h</p>

        </div>

        <div class="footer-links">
            <p>CIF S-4111001F</p>
            <p>Fax 955 622 942</p>
            <p>Teléfono 955 622 940</p><br>
        </div>
    </div>

    <div class="footer-logos">
        <img src="assets/images/alcariaBanner.jpg" alt="dibujo">
    </div>

    <div class="footer-bottom">
        © 2025 I.E.S Alcaria. Todos los derechos reservados.
    </div>
</footer>