.footer {
  background-color: #0a2342;
  /* Azul oscuro elegante */
  color: #ffffff;
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.footer-left h3 {
  margin-top: 0;
  color: #f5b400;
  /* Amarillo destacado */
}



.footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f5b400;
}

.footer-logos img {
  max-width: 100%;
  /* nunca será más ancha que su contenedor */
  height: auto;
  /* mantiene la proporción */
  display: block;
  /* evita espacios fantasma debajo de la imagen */
  margin: 30px auto 0;

}

.footer-logos {
  text-align: center;
}



.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
}