<!-- Banner -->
<section id="banner">
    <h1>BIENVENIDO AL PUTISIMO ALCARIA</h1>
    <p>El colegio para los mas NAZIS!.</p>
</section>
<!-- One -->
<section id="one" class="wrapper">
    <div class="inner">
        <div class="flex flex-3">
            <article>
                <header>
                    <h3>Magna tempus sed amet<br> aliquam veroeros</h3>
                </header>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet,
                    lectus arcu.</p>
                <footer><a href="#" class="button special">More</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>Interdum lorem pulvinar<br> adipiscing vitae</h3>
                </header>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet,
                    lectus arcu.</p>
                <footer><a href="#" class="button special">More</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>Libero purus magna sapien<br> sed ullamcorper</h3>
                </header>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet,
                    lectus arcu.</p>
                <footer><a href="#" class="button special">More</a>
                </footer>
            </article>
        </div>
    </div>
</section>
<!-- Two -->
<section id="two" class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>Ipsum Feugiat</h2>
            <p>Semper suscipit posuere apede</p>
        </header>
        <div class="flex flex-4">
            <div class="box person">
                <div class="image round">
                    <img src="../../../assets/images/pic03.jpg" alt="Person 1" width="168" height="168">
                </div>
                <h3>Magna</h3>
                <p>Cipdum dolor</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="../../../assets/images/pic04.jpg" alt="Person 2" width="168" height="168">
                </div>
                <h3>Ipsum</h3>
                <p>Vestibulum comm</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="../../../assets/images/pic05.jpg" alt="Person 3" width="168" height="168">
                </div>
                <h3>Tempus</h3>
                <p>Fusce pellentes</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="images/pic06.jpg" alt="Person 4" width="168" height="168">
                </div>
                <h3>Dolore</h3>
                <p>Praesent placer</p>
            </div>
        </div>
    </div>
</section>
<!-- Three -->
<section id="three" class="wrapper special">
    <div class="educacion">
    </div>
</section>
<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyright">
    Site made with: <a href="https://templated.co/">TEMPLATED.CO</a>
</div>