<!-- Banner superior -->
<div class="fullContainer">
    <header class="alcariaBanner">
        <div class="title">
            <h1>Cultiva tu crecimiento <br> profesional</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque rem maiores ipsam sit iste magni
                dignissimos consequatur voluptas perferendis velit in nesciunt, sequi eum autem nam voluptatibus beatae
                laudantium nobis.</p>
            <button class="btn">Secretaría</button>
            <button class="btn">Aula virtual</button>

        </div>
    </header>


    <!-- Sección de artículos -->
    <section class="articles">
        <article>
            <div class="articleImageHolder">
                <img src="../../../assets/images/demo.PNG" alt="Blog image">
            </div>
            <h2 class="news-title">INFORMACIÓN DE INICIO DE CURSO 25/26</h2>
            <p class="description">Aquí tienes toda la información para el inicio del curso 25/25 en el CPIFP Los
                Viveros:
                horario de las presentaciones, turnos y toda la información útil.</p>
            <div class="options">
                <span>
                    Leer más
                </span>
            </div>
        </article>
        <article>
            <div class="articleImageHolder">
                <img src="../../../assets/images/demo.PNG" alt="Blog image">
            </div>
            <h2 class="news-title">INFORMACIÓN DE INICIO DE CURSO 25/26</h2>
            <p class="description">Aquí tienes toda la información para el inicio del curso 25/25 en el CPIFP Los
                Viveros:
                horario de las presentaciones, turnos y toda la información útil.</p>
            <div class="options">
                <span>
                    Leer más
                </span>
            </div>
        </article>
        <article>
            <div class="articleImageHolder">
                <img src="../../../assets/images/demo.PNG" alt="Blog image">
            </div>
            <h2 class="news-title">INFORMACIÓN DE INICIO DE CURSO 25/26</h2>
            <p class="description">Aquí tienes toda la información para el inicio del curso 25/25 en el CPIFP Los
                Viveros:
                horario de las presentaciones, turnos y toda la información útil.</p>
            <div class="options">
                <span>
                    Leer más
                </span>
            </div>
        </article>
        <article>
            <div class="articleImageHolder">
                <img src="../../../assets/images/demo.PNG" alt="Blog image">
            </div>
            <h2 class="news-title">INFORMACIÓN DE INICIO DE CURSO 25/26</h2>
            <p class="description">Aquí tienes toda la información para el inicio del curso 25/25 en el CPIFP Los
                Viveros:
                horario de las presentaciones, turnos y toda la información útil.</p>
            <div class="options">
                <span>
                    Leer más
                </span>
            </div>
        </article>
    </section>



    <!-- Primer banner inferior -->
    <div class="alcariaTimes">
        <div class="timesText">
            <h1>ALCARIA TIMES</h1>
            <h3>Conoce las últimas noticias</h3><br>
            <button class="btn">Entrar</button>
        </div>
    </div>

    <!-- Segundo banner inferior (antes del footer) -->
    <div class="educacion">
    </div>
</div>