<!-- Banner superior -->
<header class="alcariaBanner">
        <h1>I.E.S. ALCARIA</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque rem maiores ipsam sit iste magni
            dignissimos consequatur voluptas perferendis velit in nesciunt, sequi eum autem nam voluptatibus beatae
            laudantium nobis.</p>
</header>

<!-- Sección de artículos -->
<section class="articles">
    <article>
        <div class="articleImageHolder">
            <img src="https://images.unsplash.com/photo-1640102953836-5651f5d6b240?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1024&q=80"
                alt="Blog image">
        </div>
        <h2 class="news-title">INFORMACIÓN DE INICIO DE CURSO 25/26</h2>
        <p class="description">Aquí tienes toda la información para el inicio del curso 25/25 en el CPIFP Los Viveros:
            horario de las presentaciones, turnos y toda la información útil.</p>
        <div class="options">
            <span>
                Leer más
            </span>
        </div>
    </article>
    <article>
        <div class="articleImageHolder">
            <img src="https://images.unsplash.com/photo-1640102953836-5651f5d6b240?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1024&q=80"
                alt="Blog image">
        </div>
        <h2 class="news-title">INFORMACIÓN DE INICIO DE CURSO 25/26</h2>
        <p class="description">Aquí tienes toda la información para el inicio del curso 25/25 en el CPIFP Los Viveros:
            horario de las presentaciones, turnos y toda la información útil.</p>
        <div class="options">
            <span>
                Leer más
            </span>
        </div>
    </article>
    <article>
        <div class="articleImageHolder">
            <img src="https://images.unsplash.com/photo-1640102953836-5651f5d6b240?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1024&q=80"
                alt="Blog image">
        </div>
        <h2 class="news-title">INFORMACIÓN DE INICIO DE CURSO 25/26</h2>
        <p class="description">Aquí tienes toda la información para el inicio del curso 25/25 en el CPIFP Los Viveros:
            horario de las presentaciones, turnos y toda la información útil.</p>
        <div class="options">
            <span>
                Leer más
            </span>
        </div>
    </article>
</section>



<!-- Primer banner inferior -->
<div class="alcariaTimes">
    <div class="timesContainer">
        <div class="timesCentro">
            <h2>ALCARIA TIMES</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum saepe quos aut id officiis cupiditate
                earum,
                possimus tempora sapiente repellendus tempore similique, minus nesciunt est, impedit architecto dolorem
                excepturi. Asperiores.</p>
        </div>
        <img src="https://images.unsplash.com/photo-1640102953836-5651f5d6b240?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1024&q=80"
            alt="zelda">

    </div>
</div>

<!-- Segundo banner inferior (antes del footer) -->
<div class="educacion">
</div>