<div class="container">
    <div class="card">
        <img src="../../../assets/images/pajaro.png" alt="foto">
        <h1>Director</h1><br>
        <p>Juan Antonio Martín Guardado</p>
    </div>
    <div class="card">
        <img src="../../../assets/images/pajaro.png" alt="foto">
        <h1>Vicedirectora</h1><br>
        <p>Raquel María Romero Gómez</p>
    </div>
    <div class="card">
        <img src="../../../assets/images/pajaro.png" alt="foto">
        <h1>Secretario</h1><br>
        <p>Manuel Jesús Domínguez Diéguez</p>
    </div>
    <div class="card">
        <img src="../../../assets/images/pajaro.png" alt="foto">
        <h1>Jefe de Estudios</h1><br>
        <p>Ezequiel Dotes Pineda</p>
    </div>
    <div class="card">
        <img src="../../../assets/images/pajaro.png" alt="foto">
        <h1>Jefe de Estudios Adjunto</h1><br>
        <p>María del Carmen Cortés Rodríguez</p>
    </div>
    <div class="card">
        <img src="../../../assets/images/pajaro.png" alt="foto">
        <h1>Jefe de Estudios (tarde)</h1><br>
        <p>Carlos Fernández Sánchez</p>
    </div>
</div>