<!-- Banner superior -->
<div class="fullContainer">
    <header class="alcariaBanner">
        <div class="title">
            <h1>Cultiva tu crecimiento <br> profesional</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque rem maiores ipsam sit iste magni
                dignissimos consequatur voluptas perferendis velit in nesciunt, sequi eum autem nam voluptatibus beatae
                laudantium nobis.</p>
            <a routerLink="/equipo" class="btn">Equipo Directivo</a>
            <a class="btn" (click)="verToken()">Plan de Centro</a>
        </div>
    </header>

    <div class="titulo-news">
        <h1>Noticias y actualidad</h1>
    </div>
    <!-- Sección de artículos -->
    <section class="articles">
        <article *ngFor="let publicacion of publicaciones">
            <div class="articleImageHolder">
                <img [src]="'http://localhost:8080' + publicacion.coverImageUrl" alt="cover">
            </div>
            <h2 class="news-title">{{publicacion.title}}</h2>
            <p class="description">{{publicacion.content}}</p>
            <div class="options">
                <span>
                    <a (click)="goToPublication(publicacion.id)">Leer más</a>
                </span>
            </div>
        </article>
    </section>




    <!-- Primer banner inferior -->
    <div class="alcariaTimes">
        <div class="timesText">
            <h1>ALCARIA TIMES</h1>
            <h3>Conoce las últimas noticias</h3><br>
            <button class="btn">Entrar</button>
        </div>
    </div>

    <!-- Segundo banner inferior (antes del footer) -->
    <div class="educacion">
    </div>
</div>