/* --- Reset básico --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- SECCION BANNER ALCARIA --- */

.alcariaBanner {
    background-image: url('../../../../../assets/images/headerBanner.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #22215B;
    padding: 10em;
}

.title {
    width: 50%;
    padding: 2em;
    text-align: left;
}

.title h1 {
    margin-bottom: 1em;
}

.title a {
    margin-right: 1em;
    margin-top: 2em;
}

/* ============= RESPONSIVE ============= */

/* Pantallas medianas (tablets) */
@media (max-width: 992px) {
    .title {
        width: 60%;
        margin-left: 2em;
        padding: 1.5em;
    }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    .alcariaBanner {
        padding: 10em 0 5em 0;
        background-attachment: scroll;
        /* para evitar problemas en móviles */
    }

    .title {
        width: 90%;
        margin: 0 auto;
        padding: 1em;
        text-align: center;
    }

    .title h1 {
        font-size: 1.8rem;
    }

    .title button {
        display: block;
        margin: 1em auto 0 auto;
    }
}
/* --- FIN SECCION BANNER ALCARIA --- */

/* --- SECCION DE  NOTICIAS ALCARIA (CARDS) --- */
.articles {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 80px;
    background-image: url('../../../../../assets/images/pencils.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.articles article {
    width: 22rem;
    height: auto;
    background-color: #ffffff;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #22215bb4;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-top-left-radius: 20px;

}

.articles article:hover {
    /* aumenta sombra y levanta la card */
    transform: translateY(-10px);
    /* sube un poco */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.articleImageHolder {
    width: 100%;
    height: auto;
    position: relative;
}

.articleImageHolder img {
    width: 100%;
    height: auto;
    max-height: 15rem;
    object-fit: cover;
    border-radius: 1.5rem;
}

.news-title {
    color: #22215B;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.description {
  color: #22215B;
  font-size: 0.9rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* máximo 4 líneas visibles */
  -webkit-box-orient: vertical;
}



.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.options span {
    font-weight: 600;
    color: #22215B;
    cursor: pointer;
    padding: 1rem 0;
}

.options span:hover {
    /* aumenta sombra y levanta la card */
    color: #6993c6;
}

/* ---FIN SECCIÓN NOTICIAS ALCARIA --- */

/* --- SECCIÓN ALCARIA TIMES --- */

.alcariaTimes {
    background-color: grey;
    height: 30em;

    /* centro horizontal y vertical usando flexbox */
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    color: white;
    text-align: center;
    background-image: url(../../../../../assets/images/background.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.timesText {
    padding: 2em;
    color: #22215B;
    background-color: #ffffff98;
    /* opcional para que respire */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.timesText h3 {
    margin-top: 1em;
}

.btn {
    background-color: #22215B;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;

}

.btn:hover {
    background-color: #6993c6;
    /* Green */
    color: white;
    cursor: pointer;
}

/* --- FIN SECCIÓN ALCARIA TIMES --- */

/* --- SECCIÓN BANNER EDUCACION --- */
.educacion {
    padding: 5em 0 10em 0;
    background-image: url('../../../../../assets/images/educacion.png');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
/* --- FIN BANNER EDUCACION --- */

/* --- Responsive --- */
@media (max-width: 768px) {
    .articles {
        flex-direction: column;
        align-items: center;
    }

    .articles article {
        max-width: 600px;
        margin-bottom: 20px;
    }
}