/* navbar básico */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background-color: #273d88;
  color: white;
  position: fixed;   /* queda siempre visible */
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.navbar .nav-links a:hover {
  color: #00bcd4;
}


