/* navbar básico */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  color: #ffffff;
  position:absolute;  /* queda siempre visible */
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(4, 4, 51, 0.413);
}

.navbar .logo a {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar .nav-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.navbar .nav-links a:hover {
  color: #ffffff;
}


