/* navbar básico */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 50px;
  position:absolute; 
  top: 0;
  width: 100%;
  background-color: white;
}

.navbar .logo a img {
  width: 25%;
}


.navbar .nav-links a {
  color: #22215B;
  text-decoration: none;
  margin-left: 20px;
  font-size: smaller;
}

.navbar .nav-links a:hover {
  color: #6993c6;
}





