<header class="navbar">
  <div class="logo">
    <a routerLink="home" (click)="checkLogin()"><img src="assets/images/logo.png" alt="logo"></a>
  </div>

  <!-- Botón hamburguesa -->
  <button class="menu-toggle" (click)="toggleMenu()">
    ☰
  </button>

  <nav class="nav-links" [class.open]="menuOpen">
    <a class="dashboard" routerLink="/dashboard" (click)="closeMenu()" target="_blank">Dashboard</a>
    <a routerLink="" (click)="closeMenu()">Biblioteca</a>
    <a routerLink="" (click)="closeMenu()">Pendientes</a>
    <a routerLink="" (click)="closeMenu()">Alcaria Internacional</a>
    <a routerLink="" (click)="closeMenu()">Filmoteca</a>
    <a routerLink="" (click)="closeMenu()">Onda Alcaria</a>
    <a routerLink="" (click)="closeMenu()">Sierra Nevada</a>

    <a *ngIf="!isLoggedIn" routerLink="login" (click)="closeMenu()">Iniciar sesión</a>
    <a *ngIf="isLoggedIn" (click)="logout(); closeMenu()" style="cursor:pointer;">Cerrar sesión</a>
  </nav>

</header>