.container {
    display: flex;
    justify-content: center;  /* centra horizontal */
    align-items: center;      /* centra vertical */
    min-height: 90vh;        /* ocupa toda la altura de la ventana */
}

.upload-container {
    max-width: 400px;
    text-align: center;
}

.upload-box {
    margin-top: 15px;
    border: 2px dashed #22215B;
    padding: 60px;
    border-radius: 12px;
    background: #f9f9ff;
    margin-bottom: 15px;
    transition: background 0.2s ease;
}

.upload-box:hover {
    background: #f0f0ff;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background: #22215B;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}


.upload-box span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

button {
    padding: 10px 20px;
    background: #22215B;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background: #5548d9;
}