<div class="publication-container">
    <h1 class="title">{{publication.title}}</h1>

    <div class="cover-container">
        <img [src]="'http://localhost:8080' + publication.coverImageUrl" alt="cover" class="cover-image">
    </div>

    <div class="description">
        <p>
            {{publication.content}}
        </p>


        <div class="body-images">
            <div class="images" *ngFor="let imagen of publication.bodyImagesUrl">
                <img [src]="'http://localhost:8080' + imagen" alt="cover" class="list-image">
            </div>
        </div>
    </div>

</div>