.publication-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10em 10em 10em 10em;
    background-image: url('../../../../../assets/images/headerBanner.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #22215B;
}

.cover-container {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.cover-image {
    max-width: 50%;
    border-radius: 8px;
}

.description {
    margin-top: 3em;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}

.description p {
    word-break: break-word;
    /* fuerza a partir palabras largas */
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
}


.body-images {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;      /* permite que las imágenes salten a otra fila */
    gap: 10px;            /* espacio entre imágenes */
}

.body-images .images {
    flex: 1 1 calc(33.33% - 10px);  /* máximo 3 por fila */
    box-sizing: border-box;          /* incluye el gap en el ancho */
}

.body-images .images img {
    width: 100%;       /* ocupa todo el contenedor de su div */
    height: auto;      /* mantiene proporción original */
    object-fit: cover; /* recorta si hace falta */
    display: block;    /* elimina espacios extra debajo de la imagen */
    border-radius: 6px; /* opcional: estética */
}
